# --- Smile CDR FHIR Server Configuration --- 
# Needed in properties, setup_dev_env.sh, bin/health-check.sh 
FHIR_ENDPOINT=http://localhost:8000
# Needed in bin/seed_users.py
USER_MGMNT_ENDPOINT=http://localhost:9000/user-management
# Needed in properties file
PROPERTY_SOURCE=PROPERTIES
JVM_MAX_HEAP_SIZE=-Xmx8g
SEED_CONF_RESOURCES=false
REQUEST_VALIDATION=false
RESPECT_FWD_HEADERS=false

# --- Smile CDR FHIR DB --- 
# Needed in docker-compose file, postgres/init_postgresdb.sh, and 
# smilecdr/settings/master.properties
FHIR_DB_HOST=smilecdr_postgres
FHIR_DB_PORT=5432
FHIR_DB_NAME=cdr
FHIR_AUDIT_DB_NAME=audit
FHIR_DB_USERNAME=admin
FHIR_DB_PASSWORD=password

# --- Postgres super user --- 
# Needed in docker-compose file
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=postgres

# --- Keycloak Configuration --- 
# Local
KEYCLOAK_ISSUER=http://keycloak:8080/realms/fhir-dev
KEYCLOAK_CLIENT_ID=ingest-study-client
KEYCLOAK_CLIENT_SECRET=lkhZRex5E58JCjcnIKkLcT4t1Q9dw5OW

KEYCLOAK_READ_CLIENT_ID=fhir-superuser-read-client
KEYCLOAK_READ_CLIENT_SECRET=wIr36TnTjDga0dgoWznTU6C1firbaufr

# --- Flask test_app Configuration ---
# Needed in by web_app
FLASK_SERVER_PORT=8081

# --- Docker Hub --- 
# Needed in bin/setup_dev_env.sh 
# You must get these from the github repo admins: 
# natasha@d3b.center or meenchulkim@d3b.center
DOCKER_HUB_USERNAME=
DOCKER_HUB_PW=
